body {
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #333; 
    color: #fff; 
    flex-direction: column;
    background-color: #333;
    color: #fff;
}

body.home-page {
    height: 100vh;
}

h1 {
    font-style: oblique;
    color: #f4bc34;
}

h2 {
    margin-top: 0%;
    font-style: oblique;
    color: #337d5e;
}

.search-icon {
    width: 15px; 
    height: 15px; 
}

form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color:rgb(64, 74, 92);
    border: 1px solid #666; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tooltip {
    position:relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hits {
    color:white;
}


